.meal {
  background: whitesmoke;
  margin-bottom: 2rem;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
  border-radius: 0.25rem;

  background-color: #f1f0f1;
  color: #2e2d2d;
  display: flex;
  flex-direction: column;
}
.meal:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.meal img {
  width: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.meal-description {
  padding: 1.5rem;
  line-height: 2rem;
  text-align: center;
}
.meal-title {
  color: black;
  font-size: 1.5rem;
}

.meal-price {
  font-size: 1.2rem;
}
