.meal {
  width: 18rem;
  height: 27rem;
  margin-bottom: 2rem;
  background: whitesmoke;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
  border-radius: 0.25rem;

  background-color: rgba(62, 225, 228, 0.3);
  color: #2e2d2d;
  display: flex;
  flex-direction: column;
}
.meal:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.meal img {
  width: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.meal-description {
  font-size: 1rem;
  padding: 0 0.5rem;
}
.meal-title {
  text-align: center;
  color: black;
  font-size: 1.2rem;
  line-height: 2rem;
}

@media screen and (max-width: 650px) {
  .meal {
    width: 22rem;
    height: 27rem;
  }
}
