.navbar {
  background: rgba(0, 0, 0, 0);
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid grey;
  /* box-shadow: 2px 1px 1px 0px rgba(0, 0, 0, 0.5); */
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: all 0.3s linear;
}
.nav-links a:hover {
  color: grey;
}
