.btn-one {
  margin: 1rem auto;
  color: rgba(0, 0, 0, 1);
  transition: all 0.3s;
  position: relative;
  line-height: 3rem;
  height: 3rem;
  text-align: center;
  min-width: 15rem;
  cursor: pointer;
  background-color: transparent;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 0.05rem;
  border-bottom-width: 0.05rem;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 0.1rem;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
